<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <style>
    .coupon-container {
      max-height: 300px; /* Adjust the maximum height as needed */
      overflow-y: auto;
    }
  </style> -->
  </head>
  <body class="goto-here" style="overflow-x: hidden">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/home">Winkel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/shop" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
            </li>
            
            <li class="nav-item cta cta-colored">
              <a href="" class="nav-link"
                ><span class="icon-shopping_cart"></span>[0]</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <div
      class="hero-wrap hero-bread"
      style="background-image: url('images/bg_6.jpg')"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
        >
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="/home">Home</a></span>
              <span>Cart</span>
            </p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>






    <% if (cart && cart.items.length === 0) { %>
      <div class="empty-cart" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <img class="" src="/images/vecteezy_basket-retail-shopping-cart-blue-icon-on-abstract-cloud_13281925.jpg" alt="" style="width: 50%; height: 400px;">
        <h3 class=""  style="font-family: Arial, Helvetica, sans-serif; font-style: italic; color: gray;">Your cart is empty</h3>
      </div>
      
<% } else if(cart) { %>
    <section class="ftco-section ftco-cart">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-8 ftco-animate">
            <div class="cart-list">
              <table class="table" id="cart-table">
                <thead class="thead-primary">
                  <tr class="text-center">
                    <th>Remove</th>
                    <th>image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% cart.items.forEach(function(item) { %>
                  <tr class="text-center">
                    <td class="product-remove">
                      <i
                        class="fa-solid fa-trash remove-button"
                        data-product-id="<%= item.product._id %>"
                        onclick="showDialog('<%= item.product._id %>')"
                      ></i>
                    </td>

                    <td class="image-prod">
                      <% if (item.product.image &&
                      Array.isArray(item.product.image)) { %> <% const imagePath
                      = item.product.image[0].replace('public', ''); %>
                      <img
                        class="image"
                        style="width: 80px; height: 16vh; border-radius: 0px"
                        src="<%= imagePath %>"
                        alt="no"
                      />
                      <% } %>
                    </td>
                    <td class="product-name">
                      <h3><%=item.product.name %></h3>
                      <!-- <p><%=item.product.description %></p> -->
                    </td>

                    <div
                      id="confirm-dialog"
                      style="
                        display: none;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ffffff;
                        width: 500px;
                        height: 150px;
                        border: none;
                        text-align: center;
                      "
                      class="shadow"
                    >
                      <p style="color: black; font-weight: bold" class="mt-2">
                        Are you sure you want to remove this product?
                      </p>
                      <button
                        onclick="removeProduct()"
                        class="btn btn-primary w-25"
                      >
                        Yes
                      </button>
                      <button
                        onclick="hideDialog()"
                        class="btn btn-secondary w-25"
                      >
                        No
                      </button>
                    </div>

                    <td class="price">
                      <% if (item.product.offerprice) { %>
                        <%= item.product.offerprice %>
                      <% } else { %>
                        <%= item.product.price %>
                      <% } %>
                    </td>
                    
                    <td
                      class="quantity w-100 mt-4 d-flex justify-content-center"
                    >
                      <button
                        class="plus-btn w-25 item-total-price"
                        name="itemId"
                        value="increase"
                      >
                        <i
                          class="fa-solid fa-plus"
                          data-item-id="<%= item.product._id %>"
                        ></i>
                      </button>
                      <div class="quantity input-group mx-4 w-50">
                        <input
                          type="text"
                          name="quantity"
                          class="quantity form-control input-number"
                          value="<%= item.quantity %>"
                          min="1"
                          max="<%= item.product.Stock %>"
                          data-item-id="<%= item.product._id %>"
                          id="quantity-input-<%= item.product._id %>"
                        />
                      </div>
                      <button
                        class="minus-btn w-25 item-total-price"
                        name="itemId"
                        value="decrease"
                      >
                        <i
                          class="fa-solid fa-minus"
                          data-item-id="<%= item.product._id %>"
                        ></i>
                      </button>
                    </td>
                    <!-- ...other table cells... -->
                    <input
                      type="hidden"
                      id="productId"
                      value="<%= item.product._id %>"
                    />
                    <td class="total" id="total-price-<%= item.product._id %>">
                      <% if (item.product.offerprice) { %>
                        <%= item.product.offerprice %>
                      <% } else { %>
                        <%= item.price %>
                      <% } %>
                    </td>
                    
                  </tr>
                  <%}) %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-4">
            <form action="/cart" method="post">
              <div class="cart-total mb-3">
                
                <h3>Cart Totals</h3>
                <p class="d-flex">
                  <span>Subtotal</span>
                  <span id="subtotal"><%= cart.subtotal %></span>
                </p>

                <p class="d-flex">
                  <span>Delivery</span>
                  <span id="delivery"><%= (cart.subtotal * 0.1).toFixed() %></span>
                </p>

              
                <hr />

                <p class="d-flex total-price">
                  <span>Total</span>
                  <span id="total"
                    ><%= (cart.subtotal +cart.subtotal * 0.1 ).toFixed() %></span
                  >
                </p>
              </div>

              <div class="row justify-content-center">
                <p class="text-center">
                  <a href="/checkout" class="btn btn-primary py-3 px-4"
                    >Proceed to Checkout</a
                  >
                </p>
              </div>
            </form>
            <div class="col-lg-12 mt-5 p-3">
              <form style="display: flex; flex-direction: column;">
                <h5>Apply Coupon</h5> 
                <div class="form-group">
                <input
                  type="text"
                  name="name"
                  id="couponCodeInput"
                  placeholder="Enter coupon code"
                />
                <button
                  type="button"
                  class="  btn-apply btn btn-primary"
                  id="applyCouponButton"
                  style="width: 100px"
                >
                  APPLY
                </button>
                </div>
              </form>

              <div class="coupon-container" style="overflow-y: scroll; height: 20vh;">
                <div id="couponMessage"></div>
                <% coupon.forEach(function(item) { %>
                <div class="hero">
                  <strong>Savings: ₹ <%= item.discount %></strong>
                  <p style="margin: 0"><%= item.code %></p>
                  <p style="margin: 0">
                    Extra upto <%= item.minValue %> Off on <%= item.discount %>
                    and Above.
                  </p>
                  <p>Max Discount: ₹ <%= item.discount %></p>
                </div>
                <% }) %>
              </div>
          </div>
      

       
          
          
          

          <span style="font-weight: bold; color: #fac45a;">
            Remove Coupon -
          <a href="/removecoupon">
            
              <i class="fa-solid fa-trash" style="color: black;"></i>
              
            </a>
          </span>
          
        </div>
        </div>
      </div>
      </div>
    </section>
    <% } %>
    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
        <div class="row">
          <div class="mouse">
            <!-- <a href="#" class="mouse-icon">
              <div class="mouse-wheel">
                <span class="ion-ios-arrow-up"></span>
              </div>
            </a> -->
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Winkel</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li>
                    <a href="#" class="py-2 d-block">Shipping Information</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                  </li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved |
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="" target="_blank">Winkel Pvt lmtd</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <script>


$(document).ready(function() {
  // Add event listener to the trash icon button
  $(".remove-coupon-btn").click(function() {
    // Retrieve the coupon ID from the data-coupon-id attribute
    const couponId = $(this).data("coupon-id");
    
    // Perform any necessary actions with the coupon ID
    // (e.g., send it to the backend via AJAX request)
    $.ajax({
      url: "/removecart/" + couponId,
      method: "POST",
      success: function(response) {
        // Handle the response from the backend
        console.log(response);
      },
      error: function(error) {
        // Handle the error
        console.log(error);
      }
    });
  });
});



      document
        .getElementById("applyCouponButton")
        .addEventListener("click", function () {
          const couponCode = document.getElementById("couponCodeInput").value;

          if (!couponCode) {
            document.getElementById("couponMessage").innerText =
              "Please enter a valid coupon code.";
            document.getElementById("couponMessage").style.color = "red";
            return; 
          }

          
          fetch("/cart", {
            method: "POST",
            body: JSON.stringify({ name: couponCode }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("couponMessage").innerText = data.message;

              if (data.newPrice) {
                document.getElementById("subtotal").innerText =
                  data.newPrice.toFixed();
                  const deliveryElement = document.getElementById("delivery");
              deliveryElement.innerText = (data.newPrice * 0.1).toFixed(); 
              const totalElement = document.getElementById("total");
totalElement.innerText = (data.newPrice + data.newPrice * 0.1).toFixed(0);
              }
              couponMessage.style.color = "red";
            })
            .catch((error) => {
              console.log(error);
            });
        });

      $(document).ready(function () {
      

        $(".plus-btn").on("click", function () {
  var itemId = $(this).find("i").data("item-id");
  var quantityInput = $("#quantity-input-" + itemId);
  var currentQuantity = parseInt(quantityInput.val());
  var newQuantity = currentQuantity + 1;

  // Check if new quantity exceeds available stock
  if (newQuantity <= parseInt(quantityInput.attr("max"))) {
    quantityInput.val(newQuantity);
    updateCartQuantity(itemId, newQuantity);

    // Calculate and update the price
    var price = parseFloat($("#total-price-" + itemId).text());
    var itemPrice = price / currentQuantity; // Divide by current quantity
    var newPrice = itemPrice * newQuantity; // Multiply by new quantity
    $("#total-price-" + itemId).text(newPrice.toFixed());

    // updateTotal();
  }
});

$(".minus-btn").on("click", function () {
  var itemId = $(this).find("i").data("item-id");
  var quantityInput = $("#quantity-input-" + itemId);
  var currentQuantity = parseInt(quantityInput.val());

  if (currentQuantity > 1) {
    var newQuantity = currentQuantity - 1;
    quantityInput.val(newQuantity);
    updateCartQuantity(itemId, newQuantity);

    // Calculate and update the price
    var price = parseFloat($("#total-price-" + itemId).text());
    var itemPrice = price / currentQuantity;
    var newPrice = itemPrice * newQuantity;
    $("#total-price-" + itemId).text(newPrice.toFixed());

    // updateTotal();
  }
});

        function updateCartQuantity(itemId, quantity) {
          console.log("id from the sky" + itemId);

          $.ajax({
            url: "/addCart",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ itemId, quantity }),
            success: function (data) {
              // Handle success response
              const subtotalElement = document.getElementById("subtotal");
              subtotalElement.innerText = data.cart.subtotal; // Update the subtotal value in the DOM

              const deliveryElement = document.getElementById("delivery");
              deliveryElement.innerText = (data.cart.subtotal * 0.1).toFixed(); // Update the delivery value in the DOM

              

              const totalElement = document.getElementById("total");
totalElement.innerText = (data.cart.subtotal + data.cart.subtotal * 0.1).toFixed(0);

              $.ajax({
                url: "/cart",
                type: "GET",
                dataType: "json",
                success: function (data) {
                  console.log(data.cart.subtotal);
                },
                error: function (error) {
                  // Handle error response
                  console.log(error);
                },
              });
            },
            error: function (error) {
              // Handle error response
              console.log(error);
            },
          });
        }
      });

      let productIdToRemove;

      function showDialog(productId) {
        productIdToRemove = productId;
        $("#confirm-dialog").show();
      }

      function hideDialog() {
        $("#confirm-dialog").hide();
      }

      function removeProduct() {
        $.ajax({
          url: `/cart/${productIdToRemove}`,
          method: "DELETE",
          success: (response) => {
            if (response.message === "Product removed from cart") {
              $("#confirm-dialog").hide();
              $(`.remove-button[data-product-id="${productIdToRemove}"`)
                .closest("tr")
                .remove();
              console.log(response);
              const subtotalElement = document.getElementById("subtotal");
              subtotalElement.innerText = response.cart.subtotal; // Update the subtotal value in the DOM

              const deliveryElement = document.getElementById("delivery");
              deliveryElement.innerText = (response.cart.subtotal * 0.1).toFixed(); // Update the delivery value in the DOM

              

              const totalElement = document.getElementById("total");
              totalElement.innerText =
                (response.cart.subtotal + response.cart.subtotal * 0.1 ).toFixed(); // Update the total value in the DOM

            }
          },
          error: (error) => {
            console.error(error.responseText);
          },
        });
      }
    </script>
  </body>
</html>
