<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      .hero {
        display: flex;
        align-items: flex-start;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
    </style>
  </head>
  <body class="goto-here">
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/home">Winkel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/shop" class="nav-link">shop</a>
            </li>
           
            <li class="nav-item">
              <a href="/profile" class="nav-link">profile</a>
           
            <li class="nav-item cta cta-colored">
              <a href="cart.html" class="nav-link"
                ><span class="icon-shopping_cart"></span>[0]</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row shadow">
        <div class="col-lg-4 col-md-12" style="border-right: solid">
          <h5>Delivery address</h5>
          <div class="name">
            <h6><%=shippingAddress.firstname%><%=shippingAddress.lastname%></h6>
          </div>
          <div class="address">
            <p style="margin: 0"><%=shippingAddress.address%></p>
            <p><%=shippingAddress.city%> <%=shippingAddress.post%></p>
          </div>
          <h6 style="margin: 0">Phone number</h6>
          <div class="number">
            <p style="margin: 0"><%=shippingAddress.mobile%></p>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="shadows">
                <% if (orders.status === 'delivered') { %>
                <button style="background-color: white;" data-order-id="<%= orders._id %>" class="mt-3 download-btn">Download</button>
                <% } %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="confirm-dialog" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  background-color: #130d0d; max-width: 300px; width: 300px;  border: none; text-align: center; z-index: 1; min-height: 200px; padding: 10px 20px;" class="shadow">
        <p style="color: black; font-weight: bold" class="mt-2 text-left">Are you sure you want to return this product?</p>
        <form  id="return-form" >
        <div class="">
          <label class="text-left" for="return-reason">Reason for Return:</label>
          <select id="return-reason" class="form-control">
            <option value="defective">Defective</option>
            <option value="wrong-item">Wrong Item</option>
            <option value="not-satisfied">Not Satisfied</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        
        <div class="mt-2">
          <label class="text-left" for="resolution-type">What do you want return</label>
          <select id="resolution-type" class="form-control">
            <option value="refund">Refund</option>
            <option value="replacement">Replacement</option>
            <!-- Add more options as needed -->
          </select>
        </div>
       
        <div class="sub">
          <button    onclick="hideDialog()" class=" btn btn-primary" data-order-id="<%=orders._id%>">Submit</button>
        </div>
      
        
        </form>
       
      </div>
      

      <div class="row shadow mt-5">
        <div class="col-lg-4 col-md-12 mx-3">
          <% orders.items.forEach(function(item) { %>
           
              <div class="d-flex align-items-center">
                <% if (item.product.image && Array.isArray(item.product.image)) { %>
                    <% const imagePath = item.product.image[0].replace('public', ''); %>
                    <img class="image" style="width: 80px; height: 16vh; border-radius: 0px" src="<%= imagePath %>" alt="no" />
                  <% } %>
                <h6 class="ml-3"><%=item.product.name%></h6>
              </div>
              <div class="desc mt-3">
                <p><strong>Color:</strong> <%=item.product.Color%></p>
                <p><%=item.product.description%></p>
              </div>
              <p class="mt-3">₹<%= parseFloat(oneorder.totalPrice).toFixed()%></p>
              <hr>
            <% }); %>
        
        </div>
      </div>

      <div class="row mt-3" style="height: 50px;">
        <div class="col-lg-12 shadow p-3">
          <% if (orders.status === 'delivered' && orders.paymentMethod === "online_payment" && orders.totalPrice > 0) {
                const sevenDaysAgo = new Date();
                sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
                const lastUpdate = new Date(orders.updatedAt);
        
                if (lastUpdate >= sevenDaysAgo) { %>
            <h6>Return Your product With in 7 days</h6>
            <button class="btn btn-dark" onclick="showDialog()">Return</button>
          <% } %>
          <% } %>
        </div>
        
       
      </div>
      

    <footer class="ftco-footer bg-light ftco-section mt-5">
      <div class="container">
        <div class="row">
          <div class="mouse">
          
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Winkel</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li>
                    <a href="#" class="py-2 d-block">Shipping Information</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                  </li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved |
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="" target="_blank">Winkel Pvt lmtd</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>
    function showDialog() {
        
        $("#confirm-dialog").show();
      }




      const returnForm = document.getElementById("return-form");

returnForm.addEventListener("submit", (event) => {
  event.preventDefault();

  const returnReason = document.getElementById("return-reason").value;
  const resolutionType = document.getElementById("resolution-type").value;
  const orderId = event.target.querySelector("button").dataset.orderId; // Retrieve the order ID from the button's data attribute

  const data = {
    returnReason,
    resolutionType,
    orderId
  };

  fetch("/admin/return", {
    method: "POST",
    body: JSON.stringify(data),
    headers: {
      "Content-Type": "application/json"
    }
  })
    .then((response) => response.json())
    .then((responseData) => {
      console.log(responseData);
    })
    .catch((error) => {
      console.error("Error submitting return:", error);
    });
});

function hideDialog() {
        $("#confirm-dialog").hide();
      }


</script>


<script>
$(document).ready(function() {
  $('.download-btn').click(function() {
    const orderId = $(this).data('order-id');
    console.log(orderId);

    $.ajax({
      url: '/editorder', 
      method: 'POST', 
      data: { orderId: orderId },
      xhrFields: {
        responseType: 'arraybuffer' // Ensure the response type is set to arraybuffer
      },
      success: function(fileData) {
        console.log(fileData);

        // Create a Blob from the file data
        const blob = new Blob([fileData], { type: "application/pdf" });

        // Create a temporary URL for the Blob
        const url = URL.createObjectURL(blob);

        // Create a temporary link element
        const downloadLink = document.createElement("a");
        downloadLink.href = url;
        downloadLink.download = "invoice.pdf";

        // Trigger the download
        downloadLink.click();

        // Clean up the temporary URL
        URL.revokeObjectURL(url);
      },
      error: function(xhr, status, error) {
        console.log('Error:', error);
      }
    });
  });
});




</script>
<script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
<script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
