<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/ionicons.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/jquery.timepicker.css" />

    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link rel="stylesheet" href="css/style.css" />
<style>
  /* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}.status-delivered {
  background-color: green;
  
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;
}

.status-cancelled {
  background-color: red;
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;
}

.status-returned {
  background-color: orange;
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;
}
.status-pending{
  background-color:grey;
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;

}

</style>


  </head>
  <body class="goto-here">
    <!-- <div class="py-1 bg-black">
      <div class="container">
        <div
          class="row no-gutters d-flex align-items-start align-items-center px-md-0"
        >
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-phone2"></span>
                </div>
                <span class="text">7025927638</span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-paper-plane"></span>
                </div>
                <span class="text">soorajhari@email.com</span>
              </div>
              <div
                class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"
              >
                <span class="text"
                  >3-5 Business days delivery &amp; Free Returns</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Winkel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/home" class="nav-link">Home</a>
            </li>
          </li>

          <li class="nav-item">
            <a href="/shop" class="nav-link">Shop</a>
          </li>
            
             
            
            <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
            </li>
            
            
            
 
            <li class="nav-item cta cta-colored">
              <a href="/cart" class="nav-link"
                ><span class="icon-shopping_cart"></span>[0]</a
              >
            </li>

            
           
          </ul>
        </div>
      </div>
    </nav>
      <!-- partial -->
  
      <!-- <div
      class="hero-wrap hero-bread"
      style="background-image: url('images/bg_6.jpg'); height: 200px;"
      
      >
        <div class="container">
          <div
            class="row no-gutters slider-text align-items-center justify-content-center"
          >
            <div class="col-md-9 ftco-animate text-center">
              <p class="breadcrumbs">
                <span class="mr-2"><a href="/home">Home</a></span>
                
              </p>
              <h1 class="mb-0 bread">Order</h1>
            </div>
          </div>
        </div>
      </div> -->
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Orders</h4>
                  <p class="card-description">
                 <code style="color: gray;"><a href="/home">Home</a> > <a href="/profile">My Profile </a>>  <a href="">My Orders</a> </code>
                  </p>
                  <!-- <div class="main">

                    <form action="/searchOrder" method="post">
                    <div class="form-group has-search d-flex">
                      <span class="fa fa-search form-control-feedback"></span>
                      <input type="text" class="form-control" placeholder="Search" name="search">
                      <button class="btn btn-primary" type="submit"  style="border-radius: 0%;">Order</button>
                    </div>
                  </form>
                  </div> -->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                       
                      </thead>
                      <tbody>
                        <% order.forEach(function(orderItem) { %>
                          <% const firstItem = orderItem.items[0]; %>
                          <tr data-order-id="<%= orderItem._id %>">
                            <td class="py-1">
                              <% if (firstItem.product.image && Array.isArray(firstItem.product.image)) { %>
                                <% const imagePath = firstItem.product.image[0].replace('public', ''); %>
                                <img class="image" style="width: 80px; height: 16vh; border-radius: 0px" src="<%= imagePath %>" alt="no" />
                              <% } %>
                            </td>
                            <td>
                              <div class="">
                                <a href="/editorder?orderid=<%= orderItem._id %>"><%= firstItem.product.name %></a>
                              </div>
                            </td>
                            <td style="font-weight: bold; color: black;">
                              ₹<%= parseFloat(orderItem.totalPrice).toFixed() %>
                            </td>
                            <td style="color: black;">
                              <% if (orderItem.status === 'delivered') { %>
                                <span class="status-delivered">Delivered</span>
                              <% } else if (orderItem.status === 'cancelled') { %>
                                <span class="status-cancelled">Cancelled</span>
                              <% } else if (orderItem.status === 'returned') { %>
                                <span class="status-returned">Returned</span>
                              <% }else if (orderItem.status === 'pending') { %>
                                <span class="status-pending">pending</span>
                              <% }
                               else { %>
                                <%= orderItem.status %>
                              <% } %>
                            </td>
                            <td>
                              <button class="btn-cancel-order btn btn-primary" onclick="showDialog('<%= orderItem._id %>')">Cancel Order</button>
                            </td>
                          </tr>
                          
                    <div
                    id="confirm-dialog"
                    style="
                      display: none;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      background-color: #ffffff;
                      width: 500px;
                      height: 150px;
                      border: none;
                      text-align: center;
                    "
                    class="shadow"
                  >
                    <p style="color: black; font-weight: bold" class="mt-2">
                      Are you sure you want to remove this product?
                    </p>
                    <button
                      onclick=""   data-order-id="<%=orderItem._id%>"
                      class="btn btn-primary w-25"
                    >
                      Yes
                    </button>
                    <button
                      onclick="hideDialog()"
                      class="btn btn-secondary w-25"
                    >
                      No
                    </button>
                  </div>

                        <% }); %>
                      </tbody>
                      
                      
                      
                      

                         
                      
                    </table>

                    
                  </div>
                
                </div>
              </div>
              <div class="row mt-5">
                <div class="col text-center">
                  <div class="block-27">
                  <ul>
                    <li><a href="/order?page=1">&lt;</a></li>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                    <% const isActive = i === currentPage; %>
                    <li class="<%= isActive ? 'active' : '' %>">
                      <a href="/order?page=<%= i %>"><span><%= i %></span></a>
                    </li>
                    <% } %>
                    <li><a href="/order?page=<%= totalPages %>">&gt;</a></li>
                  </ul>
                  </div>
                </div>
                </div>
            </div>
            
           
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="ftco-footer bg-light ftco-section">
            <div class="container">
              <div class="row">
                <div class="mouse">
                  <a href="#" class="mouse-icon">
                    <div class="mouse-wheel">
                      <span class="ion-ios-arrow-up"></span>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Winkel</h2>
                    <p>
                      Far far away, behind the word mountains, far from the countries
                      Vokalia and Consonantia.
                    </p>
                    <ul
                      class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
                    >
                      <li class="ftco-animate">
                        <a href="#"><span class="icon-twitter"></span></a>
                      </li>
                      <li class="ftco-animate">
                        <a href="#"><span class="icon-facebook"></span></a>
                      </li>
                      <li class="ftco-animate">
                        <a href="#"><span class="icon-instagram"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md">
                  <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
                      <li><a href="#" class="py-2 d-block">Shop</a></li>
                      <li><a href="#" class="py-2 d-block">About</a></li>
                      <li><a href="#" class="py-2 d-block">Journal</a></li>
                      <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Help</h2>
                    <div class="d-flex">
                      <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                        <li>
                          <a href="#" class="py-2 d-block">Shipping Information</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                        </li>
                        <li>
                          <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                      </ul>
                      <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">FAQs</a></li>
                        <li><a href="#" class="py-2 d-block">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                      <ul>
                        <li>
                          <span class="icon icon-map-marker"></span
                          ><span class="text"
                            >203 Fake St. Mountain View, San Francisco, California,
                            USA</span
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon icon-phone"></span
                            ><span class="text">+2 392 3929 210</span></a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon icon-envelope"></span
                            ><span class="text">info@yourdomain.com</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="icon-heart color-danger" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </div>
          </footer>
          
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com</a> 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span>
            </div>
          </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="path/to/your/custom-script.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->


<script>
 
 function showDialog(orderId) {
  $("#confirm-dialog").show();
  // Set the order ID as a data attribute on the "Yes" button
  $("#confirm-dialog button.btn-primary").attr("data-order-id", orderId);
}

function hideDialog() {
  $("#confirm-dialog").hide();
}

// Handle click event of the "Yes" button
$("#confirm-dialog button.btn-primary").click(function () {
  // Get the order ID from the data attribute
  const orderId = $(this).attr("data-order-id");

  $.ajax({
    url: "/order",
    method: "POST",
    data: { orderId: orderId },
    success: function (response) {
      // Update the status dynamically based on the response
      const statusElement = $(`tr[data-order-id="${orderId}"] td.status`);
      statusElement.text(response.status);
    },
    error: function (error) {
      // Handle any errors that occurred during the request
    },
  });

  // Hide the dialog after the request is sent
  hideDialog();
});




</script>

<script>
//   $(document).ready(function() {
//   $("form").submit(function(event) {
//     event.preventDefault(); // Prevent form submission
    
//     // Get the search query entered by the user
//     var searchQuery = $("input[name='search']").val();
//     console.log(searchQuery)
//     // Make an Ajax request to the backend
//     $.ajax({
//       url: "/searchOrder", // Replace with your backend endpoint
//       method: "POST",
//       data: { search: searchQuery },
//       success: function(response) {
//         // Handle the successful response from the backend
//         console.log(response);
//         // Perform further actions with the returned data
//       },
//       error: function(error) {
//         // Handle the error
//         console.log(error);
//       }
//     });
//   });
// });

</script>

</body>

</html>
