<!doctype html>
<html lang="en">
  <head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/aos.css" />

    <link rel="stylesheet" href="/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- .product-image {
		width: 300px; /* Adjust the desired width */
		height: auto; /* Maintain aspect ratio */
	  } -->
    <style></style>
  </head>
  <body class="goto-here" style="overflow-x: hidden">
    <!-- <div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div> -->
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Winkel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>

            <li class="nav-item">
              <a href="" class="nav-link">Shop</a>
            </li>

            <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
            </li>
            <div class="dropdownnew mb-5">
              <div class="d-inline-block" style="position: relative">
                <button
                  class="btn btn-secondary dropdown-toggle mt-3"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="
                    text-decoration: none;
                    height: 30px;
                    background-color: white;
                    border: none;
                    color: #000;
                  "
                >
                  Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" id="mens-option">Mens</a>
                  <a class="dropdown-item" id="womens-option">Womens</a>
                  <a class="dropdown-item" id="kids-option">Kids</a>
                </div>
              </div>
            </div>

            <li class="nav-item cta cta-colored">
              <a href="/cart" class="nav-link"
                ><span class="icon-shopping_cart"></span>[0]</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <div
      class="hero-wrap hero-bread"
      style="background-image: url(&quot;images/bg_6.jpg&quot;)"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
        >
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="index.html">Home</a></span>
              <span>Products</span>
            </p>
            <h1 class="mb-0 bread">Collection Products</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light d">
      <div class="container">
        <div
          class="dropdownnew mb-5 align-items-center"
          style="display: flex; justify-content: space-between"
        >
          <div class="main">
            <form id="searchForm" class="d-flex justify-content-center">
              <div class="form-group has-search" style="display: flex">
                <span class="fa fa-search form-control-feedback"></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search"
                  name="search"
                  style="max-width: 300px"
                />
                <!-- Increase the width as desired -->
                <button
                  class="btn btn-primary"
                  type="submit"
                  style="border-radius: 0%"
                >
                  Search
                </button>
              </div>
            </form>
          </div>
          <div class="">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sorting
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/shop?sort=asc"
                >Price low to high</a
              >
              <a class="dropdown-item" href="/shop?sort=desc"
                >Price high to low</a
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-lg-4 sidebar">
            <div class="sidebar-box-2">
              <h2 class="heading mb-4"><a href="#">Filtering</a></h2>
              <form id="filterForm">
                <div class="price">
                  <p>Price</p>
                </div>
                <div>
                  <input
                    type="checkbox"
                    name="priceRange"
                    value="all"
                    id="allCheckbox"
                  />
                  <label for="allCheckbox">All</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    name="priceRange"
                    value="0-500"
                    id="rangeCheckbox1"
                  />
                  <label for="rangeCheckbox1">Rs 0 to Rs 500</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    name="priceRange"
                    value="500-2000"
                    id="rangeCheckbox2"
                  />
                  <label for="rangeCheckbox2">Rs 500 to Rs 2000</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    name="priceRange"
                    value="2000-5000"
                    id="rangeCheckbox3"
                  />
                  <label for="rangeCheckbox3">Rs 2000 to Rs 5000</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    name="priceRange"
                    value="5000-10000"
                    id="rangeCheckbox4"
                  />
                  <label for="rangeCheckbox4">Rs 5000 to Rs 10000</label>
                </div>
                <!-- Add more price range options as needed -->
                <!-- <button type="submit">Filter</button> -->
              </form>
            </div>
          </div>

          <div class="col-md col-lg-8 order-md-last">
            <% if (products.length > 0) { %>
            <div class="row" id="product-container">
              <% for (let i = 0; i < products.length; i++) { %> <% const item =
              products[i]; %>
              <div class="col-sm-6 col-md-6 col-lg-4 ftco-animate">
                <div class="product">
                  <a href="#" class="img-prod">
                    <% const firstImagePath = item.image[0].replace('public',
                    ''); %>
                    <a href="/single/<%=item._id %>">
                      <img
                        class="img-fluid product-image"
                        src="<%= firstImagePath %>"
                        alt="Product Image"
                      />
                    </a>
                    <!-- <span class="status">30%</span> -->
                    <div class="overlay"></div>
                  </a>
                  <div class="text py-3 px-3">
                    <h3><a href="#"><%= item.name %></a></h3>
                    <div class="d-flex">
                      <div class="pricing">
                        <p class="price">
                          <% if (item.offerprice) { %>
                          <span class="mr-2 price-dc">₹<%= item.price %></span>
                          <span class="price-sale"
                            >₹<%= item.offerprice %></span
                          >
                          <% } else { %>
                          <span class="price-sale">₹<%= item.price %></span>
                          <% } %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="/shop?page=1">&lt;</a></li>
                <% for (let i = 1; i <= totalPages; i++) { %> <% const isActive
                = i === currentPage; %>
                <li class="<%= isActive ? 'active' : '' %>">
                  <a href="/shop?page=<%= i %>"><span><%= i %></span></a>
                </li>
                <% } %>
                <li><a href="/shop?page=<%= totalPages %>">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
        <div class="row">
          <div class="mouse">
            <a href="#" class="mouse-icon">
              <div class="mouse-wheel">
                <span class="ion-ios-arrow-up"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Winkel</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li>
                    <a href="#" class="py-2 d-block">Shipping Information</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                  </li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved |
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="" target="_blank">Winkel Pvt lmtd</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

<script>
let selectedProducts = [];

function getProductsWithPriceRange(priceRange) {
  $.ajax({
    url: '/shopprice',
    type: 'GET',
    data: { filterPriceRange: priceRange },
    success: function(response) {
      console.log(response);
      selectedProducts = selectedProducts.concat(response); // Accumulate the products
      UIupdate(selectedProducts);
    },
    error: function(error) {
      console.error(error);
      // Handle the error here
    }
  });
}

function UIupdate(products) {
  const productContainer = document.getElementById("product-container");
  productContainer.innerHTML = "";

  products.forEach(function(data) {
    const item = `
      <div class="col-sm-6 col-md-6 col-lg-4 ">
        <div class="product">
          <a href="#" class="img-prod">
            <a href="/single/${data._id}">
              <img class="img-fluid product-image" src="${data.image[0].replace(
                "public",
                ""
              )}" alt="Product Image" />
            </a>
            <span class="status">30%</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 px-3">
            <h3><a href="#">${data.name}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price">
                  <span class="price-sale">₹${data.offerprice}</span>
                </p>
              </div>
              <div class="rating">
                <p class="text-right">
                  <a href="#"><span class="ion-ios-star-outline"></span></a>
                  <a href="#"><span class="ion-ios-star-outline"></span></a>
                  <a href="#"><span class="ion-ios-star-outline"></span></a>
                  <a href="#"><span class="ion-ios-star-outline"></span></a>
                  <a href="#"><span class="ion-ios-star-outline"></span></a>
                </p>
              </div>
            </div>
            <p class="bottom-area d-flex px-3">
              <a href="#" class="add-to-cart text-center py-2 mr-1">
                <span>Add to cart <i class="ion-ios-add ml-1"></i></span>
              </a>
              <a href="#" class="buy-now text-center py-2">
                Buy now<span><i class="ion-ios-cart ml-1"></i></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    `;
    productContainer.innerHTML += item;
  });
}

$(document).ready(function() {
  $('input[type="checkbox"]').change(function() {
    var priceRange = $(this).val();
    if ($(this).is(':checked')) {
      getProductsWithPriceRange(priceRange);
    } else {
      selectedProducts = selectedProducts.filter(product => product.offerprice !== priceRange); // Remove products from the selected price range
      UIupdate(selectedProducts);
    }
  });
});

// function updateSelectedPriceRanges() {
//   selectedPriceRanges = $('input[type="checkbox"]:checked')
//     .map(function() {
//       return $(this).val();
//     })
//     .get();
// }

// function handleCheckboxChange() {
//   updateSelectedPriceRanges();
//   getProductsWithPriceRange();
// }


// $(document).ready(function() {
//   $('input[type="checkbox"]').change(handleCheckboxChange);
// });
</script>






    <script>
      $(document).ready(function () {
        $("#searchForm").submit(function (event) {
          event.preventDefault();

          var searchQuery = $("input[name='search']").val();

          $.ajax({
            url: "/searchProduct",
            method: "POST",
            data: { search: searchQuery },
            success: function (response) {
              UIupdate(response);
            },
            error: function (error) {
              console.log(error);
            },
          });
        });

        function UIupdate(response) {
          const productContainer = document.getElementById("product-container");
          productContainer.innerHTML = "";

         
          response.forEach(function (data) {
         
            const item = `
          <div class="col-sm-6 col-md-6 col-lg-4 ">
            <div class="product">
              <a href="#" class="img-prod">
                <a href="/single/${data._id}">
                  <img class="img-fluid product-image" src="${data.image[0].replace(
                    "public",
                    ""
                  )}" alt="Product Image" />
                </a>
                <span class="status">30%</span>
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">${data.name}</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price">
                      <span class="price-sale">₹${data.price}</span>
                    </p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a href="#" class="add-to-cart text-center py-2 mr-1">
                    <span>Add to cart <i class="ion-ios-add ml-1"></i></span>
                  </a>
                  <a href="#" class="buy-now text-center py-2">
                    Buy now<span><i class="ion-ios-cart ml-1"></i></span>
                  </a>
                </p>
              </div>
            </div>
          </div>
      `;
            productContainer.innerHTML += item;
          });
        }
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".dropdown-item").on("click", function () {
          const selectedCategory = $(this).text().trim();

          $.ajax({
            url: "/shopfilter",
            method: "POST",
            data: { category: selectedCategory },
            success: function (response) {
              // Handle success response
              console.log(response);
              UIupdate(response);
            },
            error: function (xhr, status, error) {
              console.error(error);
            },
          });
        });

        function UIupdate(response) {
          const productContainer = document.getElementById("product-container");
          productContainer.innerHTML = "";

          // Update the UI with the returned data
          response.forEach(function (data) {
            // console.log(data)
            const item = `
          <div class="col-sm-6 col-md-6 col-lg-4 ">
            <div class="product">
              <a href="#" class="img-prod">
                <a href="/single/${data._id}">
                  <img class="img-fluid product-image" src="${data.image[0].replace(
                    "public",
                    ""
                  )}" alt="Product Image" />
                </a>
                <span class="status">30%</span>
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">${data.name}</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price">
                      <span class="price-sale">₹${data.price}</span>
                    </p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a href="#" class="add-to-cart text-center py-2 mr-1">
                    <span>Add to cart <i class="ion-ios-add ml-1"></i></span>
                  </a>
                  <a href="#" class="buy-now text-center py-2">
                    Buy now<span><i class="ion-ios-cart ml-1"></i></span>
                  </a>
                </p>
              </div>
            </div>
          </div>
      `;
            productContainer.innerHTML += item;
          });
        }
      });
    </script>
  </body>
</html>
