<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Winkel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossorigin="anonymous"
  />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />

    <link rel="stylesheet" href="/css/aos.css" />

    <link rel="stylesheet" href="/css/ionicons.min.css" />

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/style.css" />
<style>
    * {box-sizing: border-box;}
    .image-container {
  position: relative;
  display: inline-block;
}

.img-zoom-result {
  position: absolute;
  top: 0;
  right: -250px; /* adjust '-250px' to move the zoomed image left or right */
  width: 400px; /* adjust '400px' to increase or decrease the width of the zoomed image */
  height: 400px; /* adjust '400px' to increase or decrease the height of the zoomed image */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  overflow: hidden;
  z-index: 999;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /* Set the size of the lens: */
  width: 90px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height as needed */
}

#product{
  margin-right: 15px;
}



</style>



  </head>
  <body class="goto-here">
    <!-- <div class="py-1 bg-black">
      <div class="container">
        <div
          class="row no-gutters d-flex align-items-start align-items-center px-md-0"
        >
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-phone2"></span>
                </div>
                <span class="text">+ 1235 2355 98</span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div
                  class="icon mr-2 d-flex justify-content-center align-items-center"
                >
                  <span class="icon-paper-plane"></span>
                </div>
                <span class="text">youremail@email.com</span>
              </div>
              <div
                class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"
              >
                <span class="text"
                  >3-5 Business days delivery &amp; Free Returns</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Winkel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown active">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown04"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Shop</a
              >
              <!-- <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="shop.html">Shop</a>
            <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="cart.html">Cart</a>
            <a class="dropdown-item" href="checkout.html">Checkout</a>
          </div> -->
            </li>
            <li class="nav-item">
              <a href="/profile" class="nav-link">profile</a>
            </li>
            <li class="nav-item">
              <a href="blog.html" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
            <li class="nav-item cta cta-colored">
              <a href="/cart" class="nav-link"
                ><span class="icon-shopping_cart"></span>[0]</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <div
      class="hero-wrap hero-bread"
      style="background-image: url('images/bg_6.jpg')"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text align-items-center justify-content-center"
        >
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs">
              <span class="mr-2"><a href="/home">Home</a></span>
              <span class="mr-2"><a href="index.html">Product</a></span>
              <span>Product Single</span>
            </p>
            <h1 class="mb-0 bread">Product Single</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light">
      <div class="container">
        <% if (products) { %>
        <div class="hero"></div>
    
        <div class="row">
          <div class="col-lg-6 mb-5 ftco-animate">
            <div class="img-zoom-container">
              <% const item = products; %>
              <% const firstImagePath = item.image[0].replace('public', ''); %>
              <div class="image-container">
                <img id="mainImage" class="img-fluid" src="<%= firstImagePath %>" alt="Product Image" />
                <div id="myresult" class="img-zoom-result" ></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 product-details pl-md-5 ftco-animate">
            <h3><%= item.name %></h3>
            <div class="rating d-flex">
              <p class="text-left mr-4">
                <a href="#" class="mr-2">5.0</a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
              </p>
              <p class="text-left mr-4">
                <a href="#" class="mr-2" style="color: #000"
                  >100 <span style="color: #bbb">Rating</span></a
                >
              </p>
              
            </div>
            <% if (item.offerprice) { %>
              <p class="price"><span>₹<%= item.offerprice %></span></p>
            <% } else { %>
              <p class="price"><span>₹<%= item.price %></span></p>
            <% } %>
            
            <p><%= item.description %></p>
      
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="form-group d-flex">
                  <div class="select-wrap">
                    <div class="icon">
                      <span class="ion-ios-arrow-down"></span>
                    </div>
                    <p style="font-weight: bold;"><%= item.Color %> Color</p>
                  </div>
                </div>
              </div>
              <div class="w-100"></div>
              <!-- <div class="input-group col-md-6 d-flex mb-3">
                <span class="input-group-btn mr-2">
                  <button
                    type="button"
                    class="quantity-left-minus btn"
                    data-type="minus"
                    data-field=""
                  >
                    <i class="ion-ios-remove"></i>
                  </button>
                </span>
                <input
                  type="text"
                  id="quantity"
                  name="quantity"
                  class="form-control input-number"
                  value="1"
                  min="1"
                  max="100"
                />
                <span class="input-group-btn ml-2">
                  <button
                    type="button"
                    class="quantity-right-plus btn"
                    data-type="plus"
                    data-field=""
                  >
                    <i class="ion-ios-add"></i>
                  </button>
                </span>
              </div> -->
              <div class="w-100"></div>
              <div class="col-md-12">
                <p style="color: #000"><%= item.Stock %> Piece Available</p>
              </div>
            </div>
            <p>
              <p>
                <a href="/addCart/<%=item._id%>" class="btn btn-primary">
                  <button class=" px-3" id="add-to-cart-btn" data-product-id="<%=item._id%>" style="color: #000;" >
                    <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                  </button>
                </a>
              </p>
              
          </div>
          <div class="div" id="product">
            <% for(let i = 0; i < item.image.length; i++) { %>
              <% const imagePath = item.image[i].replace('public', ''); %>
              <img
                id="myimage<%= i+1 %>"
                width="100px"
                height="150px"
                class="img-fluid mx-3 small-image"
                src="<%= imagePath %>"
                alt="Product Image <%= i+1 %>"
                onclick="changeMainImage('<%= imagePath %>')"
              />
            <% } %>
          </div>
          
          
        </div>
    
        
        <% } %>
      </div>
    </section>
    
    


    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Ralated Products</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm col-md-6 col-lg ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"
                ><img
                  class="img-fluid"
                  src="images/product-1.jpg"
                  alt="Colorlib Template"
                />
                <span class="status">30%</span>
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Floral Jackquard Pullover</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price">
                      <span class="mr-2 price-dc">$120.00</span
                      ><span class="price-sale">$80.00</span>
                    </p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>         
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <button class="add-to-cart text-center py-2 mr-1">
                    <span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></button>
                  <a href="#" class="buy-now text-center py-2"
                    >Buy now<span><i class="ion-ios-cart ml-1"></i></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"
                ><img
                  class="img-fluid"
                  src="images/product-2.jpg"
                  alt="Colorlib Template"
                />
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Floral Jackquard Pullover</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>$120.00</span></p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a href="#" class="add-to-cart text-center py-2 mr-1"
                    ><span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></a>
                  <a href="#" class="buy-now text-center py-2"
                    >Buy now<span><i class="ion-ios-cart ml-1"></i></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"
                ><img
                  class="img-fluid"
                  src="images/product-3.jpg"
                  alt="Colorlib Template"
                />
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Floral Jackquard Pullover</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>$120.00</span></p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a href="#" class="add-to-cart text-center py-2 mr-1"
                    ><span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></a>
                  <a href="#" class="buy-now text-center py-2"
                    >Buy now<span><i class="ion-ios-cart ml-1"></i></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"
                ><img
                  class="img-fluid"
                  src="images/product-4.jpg"
                  alt="Colorlib Template"
                />
                <div class="overlay"></div>
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Floral Jackquard Pullover</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>$120.00</span></p>
                  </div>
                  <div class="rating">
                    <p class="text-right">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <p class="bottom-area d-flex px-3">
                  <a href="#" class="add-to-cart text-center py-2 mr-1"
                    ><span>Add to cart <i class="ion-ios-add ml-1"></i></span
                  ></a>
                  <a href="#" class="buy-now text-center py-2"
                    >Buy now<span><i class="ion-ios-cart ml-1"></i></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer bg-light ftco-section">
      <div class="container">
        <div class="row">
          <div class="mouse">
            <a href="#" class="mouse-icon">
              <div class="mouse-wheel">
                <span class="ion-ios-arrow-up"></span>
              </div>
            </a>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Winkel</h2>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia.
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                  <li>
                    <a href="#" class="py-2 d-block">Shipping Information</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Returns &amp; Exchange</a>
                  </li>
                  <li>
                    <a href="#" class="py-2 d-block">Terms &amp; Conditions</a>
                  </li>
                  <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                </ul>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-2 d-block">FAQs</a></li>
                  <li><a href="#" class="py-2 d-block">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >203 Fake St. Mountain View, San Francisco, California,
                      USA</span
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+2 392 3929 210</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">info@yourdomain.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | 
              <i class="icon-heart color-danger" aria-hidden="true"></i> by
              <a href="" target="_blank">Winkel Pvt lmtd</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle
          class="path-bg"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke="#eeeeee"
        />
        <circle
          class="path"
          cx="24"
          cy="24"
          r="22"
          fill="none"
          stroke-width="4"
          stroke-miterlimit="10"
          stroke="#F96D00"
        />
      </svg>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/google-map.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        var quantitiy = 0;
        $(".quantity-right-plus").click(function (e) {
          // Stop acting like a button
          e.preventDefault();
          // Get the field name
          var quantity = parseInt($("#quantity").val());

          // If is not undefined

          $("#quantity").val(quantity + 1);

          // Increment
        });

        $(".quantity-left-minus").click(function (e) {
          // Stop acting like a button
          e.preventDefault();
          // Get the field name
          var quantity = parseInt($("#quantity").val());

          // If is not undefined

          // Increment
          if (quantity > 0) {
            $("#quantity").val(quantity - 1);
          }
        });
      });

      function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);

  /* Create lens: */
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");

  /* Insert lens: */
  img.parentElement.insertBefore(lens, img);

  /* Calculate the ratio between result DIV and lens: */
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;

  /* Set background properties for the result DIV */
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";

  /* Add hover event listener */
  img.addEventListener("mouseenter", function() {
    result.style.display = "block";
  });

  img.addEventListener("mouseleave", function() {
    result.style.display = "none";
  });

  img.addEventListener("mousemove", moveLens);

  /* Execute a function when someone moves the cursor over the image, or the lens: */
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /* And also for touch screens: */
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);

  function moveLens(e) {
    var pos, x, y;

    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();

    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);

    /* Calculate the position of the lens: */
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);

    /* Prevent the lens from being positioned outside the image: */
    if (x > img.width - lens.offsetWidth) {
      x = img.width - lens.offsetWidth;
    }
    if (x < 0) {
      x = 0;
    }
    if (y > img.height - lens.offsetHeight) {
      y = img.height - lens.offsetHeight;
    }
    if (y < 0) {
      y = 0;
    }

    /* Set the position of the lens: */
    lens.style.left = x + "px";
    lens.style.top = y + "px";

    /* Display what the lens "sees": */
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }

  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;

    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();

    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;

    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;

    return { x: x, y: y };
  }
}

window.addEventListener('load', function() {
  imageZoom("mainImage", "myresult");
});


  $(function() {
    $('#add-to-cart-btn').click(function() {
      var productId = $(this).data('product-id');
      $.ajax({
        url: '/addCart/' + productId,
        method: 'POST',
        success: function(response) {
          
          console.log('Product added to cart');
        },
        error: function(xhr, status, error) {
        
          console.error('Failed to add product to cart:', error);
        }
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
  const mainImage = document.getElementById('mainImage');
  const smallImages = document.querySelectorAll('.img-fluid.mx-3');
  const result = document.getElementById('myresult'); // Get the result element

  mainImage.src = smallImages[0].src; // Set the initial main image to the first small image
  result.style.backgroundImage = "url('" + mainImage.src + "')"; // Set the initial background image of the result element

  smallImages.forEach(function(smallImage) {
    smallImage.addEventListener('click', function() {
      mainImage.src = this.src; // Change the main image source to the clicked small image
      result.style.backgroundImage = "url('" + mainImage.src + "')"; // Update the background image of the result element
    });
  });
});



    </script>
  </body>
</html>
